body{
    background-color: black;
    background-image: url('imagies/phone_fake_news.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

header{
  grid-area:h;
  text-align: center;
}

h1{
  color: #fff;
  font-size: 35px;
}

main{
  grid-area:m;
  padding: 20px;
  text-align: center;
}

footer{
  grid-area:f;
    
}

p{
  color: #fff;
  font-size: 15px;
}

label{
color: #fff;
font-size: 40px;
}

input{
  font-size: 35px;
}

.fakertitle {
  position: relative;
  color: transparent;
  font-family: 'Cambay', sans-serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.03em;
}

.fakertitle > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #F8F005;
  pointer-events: none;
}

.fakertitle > div:nth-child(1) {
  -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
  mask-image: linear-gradient(black 25%, transparent 25%);
  animation: deconstructed1 5s infinite;
}

.fakertitle > div:nth-child(2) {
  -webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  animation: deconstructed2 5s infinite;
}

.fakertitle > div:nth-child(3) {
   -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  animation: deconstructed3 5s infinite;
}

.fakertitle > div:nth-child(4) {
   -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
  mask-image: linear-gradient(transparent 75%, black 75%);
  animation: deconstructed4 5s infinite;
}


@keyframes deconstructed1 {
  0% {
    transform: translateX(100%);
  }
  26% {
    transform: translateX(0%);
  }
  83% {
    transform: translateX(-0.1%);
  }
  100% {
    transform: translateX(-120%);
  }
}

@keyframes deconstructed2 {
  0% {
    transform: translateX(100%);
  }
  24% {
    transform: translateX(0.5%);
  }
  82% {
    transform: translateX(-0.2%);
  }
  100% {
    transform: translateX(-125%);
  }
}

@keyframes deconstructed3 {
  0% {
    transform: translateX(100%);
  }
  22% {
    transform: translateX(0%);
  }
  81% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-130%);
  }
}

@keyframes deconstructed4 {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-135%);
  }
}


.space_button{
    padding: 20px;
}

button, button::after {
    min-width: 190px;
    width: auto;
    min-height: 43px;
    height: auto;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 44px;
    box-shadow: 6px 0px 0px #F8F005;
    outline: transparent;
    position: relative;
  }
  
  button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
  }

   .bsologame::after{
    content: 'Solo Game';
  }

  .b1vs1::after{
    content: '1 vs 1';
  }

  .bHowtoplay::after{
    content: 'How to Play';
  }

  .bOptions::after{
    content: 'Options';
  }

  .bStartGame::after{
    content: 'Start Game';
  }

  .bHowtoplay::after{
    content: 'How to Play';
  }

  .bHome{
    background: linear-gradient(45deg, transparent 5%, #F8F005 5%);
    box-shadow: 6px 0px 0px #FF013C;
  }
  .bHome::after{
    content: 'Home';
  }

  .bBack{
    background: linear-gradient(45deg, transparent 5%, #F8F005 5%);
    box-shadow: 6px 0px 0px #FF013C;
  }

  .bBack::after{
    content: 'Back';
  }

  .bAboutTheGame::after{
    content: 'About the Game';
  }

  .bTest_Tweets::after{
    content: 'Test Tweets';
  }

  button:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }
.container{
    grid-template-areas:
                        "h h h h h h h h"
                        "m m m m m m m m"
                        "m m m m m m m m"
                        "m m m m m m m m"
                        "m m m m m m m m"
                        "m m m m m m m m"
                        "m m m m m m m m"
                        "f f f f f f f f";
                        
    max-width:100%;
    margin:0 auto;
    display:grid;
    grid-template-columns:repeat(8,1fr);
    grid-auto-rows:minmax(50px,auto);
    grid-gap:5px;
}

@media screen and (min-width:450px){
  body{
      background-image: url('imagies/phone_fake_news.jpg');
  }

  button, button::after {
    width: 220px;
    height: 64px;
    font-size: 22px;
  }

  h1{
    font-size: 40px;
  }

  p{
    font-size: 20px;
  }

  .fakertitle{
    font-size: 50px;
  }
}

@media screen and (min-width:700px){
  body{
      background-image: url('imagies/phone_fake_news.jpg');
  }

  button, button::after {
    width: 280px;
    height: 74px;
    font-size: 25px;
  }

  h1{
    font-size: 50px;
  }

  p{
    font-size: 30px;
  }

  .fakertitle{
    font-size: 70px;
  }
}

@media screen and (min-width:1300px){
    body{
        background-image: url('imagies/123.jpg');
    }

    button, button::after {
      width: 380px;
      height: 86px;
      font-size: 36px;
    }

    h1{
      font-size: 60px;
      }

    p{
      font-size: 40px;
    }

    .fakertitle{
      font-size: 100px;
    }
}